body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

/* Alexandria */
@font-face {
    font-family:'Alexandria'; 
    src: url('../public/Fonts/Alexandria/Alexandria-Thin.ttf');
    font-weight: 100;
}

@font-face {
    font-family:'Alexandria'; 
    src: url('../public/Fonts/Alexandria/Alexandria-ExtraLight.ttf');
    font-weight: 200;
}

@font-face {
    font-family:'Alexandria'; 
    src: url('../public/Fonts/Alexandria/Alexandria-Light.ttf');
    font-weight: 300;
}

@font-face {
    font-family:'Alexandria'; 
    src: url('../public/Fonts/Alexandria/Alexandria-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family:'Alexandria'; 
    src: url('../public/Fonts/Alexandria/Alexandria-Medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family:'Alexandria'; 
    src: url('../public/Fonts/Alexandria/Alexandria-SemiBold.ttf');
    font-weight: 600;
}

@font-face {
    font-family:'Alexandria'; 
    src: url('../public/Fonts/Alexandria/Alexandria-Bold.ttf');
    font-weight: 700;
}

@font-face {
    font-family:'Alexandria'; 
    src: url('../public/Fonts/Alexandria/Alexandria-ExtraBold.ttf');
    font-weight: 800;
}


@font-face {
    font-family:'Alexandria'; 
    src: url('../public/Fonts/Alexandria/Alexandria-Black.ttf');
    font-weight: 900;
}

/* montserrat */

@font-face {
  font-family:montserrat;
  src: url(../public/Fonts/Montserrat/static/Montserrat-Thin.ttf);
  font-weight: 100;
}

@font-face {
  font-family:montserrat;
  src: url(../public/Fonts/Montserrat/static/Montserrat-ExtraLight.ttf);
  font-weight: 200;
}

@font-face {
  font-family:montserrat;
  src: url(../public/Fonts/Montserrat/static/Montserrat-Light.ttf);
  font-weight: 300;
}


@font-face {
  font-family:montserrat;
  src: url(../public/Fonts/Montserrat/static/Montserrat-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family:montserrat;
  src: url(../public/Fonts/Montserrat/static/Montserrat-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family:montserrat;
  src: url(../public/Fonts/Montserrat/static/Montserrat-SemiBold.ttf);
  font-weight: 600;
}

@font-face {
  font-family:montserrat;
  src: url(../public/Fonts/Montserrat/static/Montserrat-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family:montserrat;
  src: url(../public/Fonts/Montserrat/static/Montserrat-ExtraBold.ttf);
  font-weight: 800;
}

@font-face {
  font-family:montserrat;
  src: url(../public/Fonts/Montserrat/static/Montserrat-Black.ttf);
  font-weight: 900;
}



*:not(:has(.todo2)) {
  font-family: Montserrat !important;
  text-transform: capitalize;
}



